In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
sale_df = pd.read_csv('서울시 상권분석서비스(추정매출-자치구).csv', encoding = 'CP949')

In [3]:
sale_df.head(3)

,기준_년분기_코드,자치구_코드,자치구_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,11110,종로구,CS300028,화초,1495850124,36765,1314004524,181845600,171773552,...,14178,882,14947,17876,345,10672,9937,6291,4030,1542
1,20191,11110,종로구,CS100004,양식음식점,21733503173,586239,15141392928,6592110245,2473306312,...,210914,51176,244199,295978,6781,212438,144750,90539,62719,22943
2,20191,11110,종로구,CS100007,치킨전문점,3247811505,111086,2414124197,833687308,387818146,...,40712,38887,60952,43654,2077,34735,25143,20359,16465,5826

In [4]:
# 사용할 컬럼

sale_df = sale_df[['기준_년분기_코드', '자치구_코드_명', '서비스_업종_코드_명', '연령대_10_매출_금액', '연령대_20_매출_금액',
                  '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']]

sale_df.head(3)

,기준_년분기_코드,자치구_코드_명,서비스_업종_코드_명,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액
0,20191,종로구,화초,4821242,236327182,286985195,225269811,249285099,77648643
1,20191,종로구,양식음식점,136382198,6196833737,4967963671,3236855795,2407946855,1049872442
2,20191,종로구,치킨전문점,40820693,927312845,698362320,599689873,471883377,161088031

In [5]:
sale_df.rename(columns={'기준_년분기_코드':'기준년분기코드', '자치구_코드_명':'자치구코드명', '서비스_업종_코드_명':'서비스업종코드명',
                                '연령대_10_매출_금액':'연령대10매출금액', '연령대_20_매출_금액':'연령대20매출금액',
                                '연령대_30_매출_금액':'연령대30매출금액', '연령대_40_매출_금액':'연령대40매출금액', '연령대_50_매출_금액':'연령대50매출금액',
                                '연령대_60_이상_매출_금액':'연령대60이상매출금액'}, inplace=True)

In [6]:
# 기준년분기_코드 - 2019, 2023년만

sale_df['기준년분기코드'].value_counts()

기준년분기코드
20232    1547
20221    1546
20202    1546
20224    1545
20203    1544
20213    1544
20212    1544
20231    1543
20222    1543
20204    1543
20223    1542
20214    1541
20211    1541
20233    1541
20194    1540
20193    1540
20201    1539
20192    1539
20191    1536
Name: count, dtype: int64

In [7]:
sale_df['기준년분기코드'] = [str(y)[:4] for y in sale_df['기준년분기코드']]

In [8]:
sale_df_19 = sale_df[sale_df['기준년분기코드'] == '2019']
sale_df_19

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액
0,2019,종로구,화초,4821242,236327182,286985195,225269811,249285099,77648643
1,2019,종로구,양식음식점,136382198,6196833737,4967963671,3236855795,2407946855,1049872442
2,2019,종로구,치킨전문점,40820693,927312845,698362320,599689873,471883377,161088031
3,2019,종로구,시계및귀금속,181127570,13803201987,26143750620,26406134053,44761390011,24875573557
4,2019,종로구,일반의원,69495695,1814359964,3318178411,3170413889,3463830467,3112932953
...,...,...,...,...,...,...,...,...,...
18751,2019,강동구,문구,118562444,428652977,785285315,1846713724,1090943156,668948615
18752,2019,강동구,반찬가게,10822411,200707119,411861825,3613357988,1403062322,2656187319
18753,2019,강동구,일반의류,160332201,2950343934,5878565968,13127077129,11006128992,7325984742
18754,2019,강동구,양식음식점,285560838,2606988457,1873314388,1922880463,1069897634,403327911
18755,2019,강동구,골프연습장,457902,22238199,142005523,275315067,336741350,199812164

In [9]:
sale_df_23 = sale_df[sale_df['기준년분기코드'] == '2023']
sale_df_23

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액
7778,2023,동작구,스포츠클럽,45969055,705981575,558755467,198322096,299406486,118999655
7779,2023,강남구,인테리어,0,53957143,179882969,220381752,412921473,462632092
7780,2023,마포구,일식음식점,426885547,9765133164,7991948083,3312422583,2659708473,1057673720
7781,2023,강서구,편의점,694568346,14061657816,26001162136,18149623114,11691971693,6341042894
7782,2023,종로구,핸드폰,5176148,102942139,496139700,179584803,554793412,660458952
...,...,...,...,...,...,...,...,...,...
29299,2023,강동구,고시원,2082227,8956804,150556508,80669723,95255752,109308645
29300,2023,강동구,미곡판매,0,116432372,383067084,184225952,901878596,1311067683
29301,2023,강동구,가구,0,46159608,48531968,30728917,63003449,86341351
29302,2023,강동구,가전제품,0,230185542,3118643144,2557399514,1731175535,1327520699
29303,2023,강동구,인테리어,0,11003084,15266357,25882392,85291259,397396807

In [10]:
#점포-자치구 프랜차이즈 비율 0.4 이상 기준으로 데이터 편집

food = ['패스트푸드점', '제과점', '치킨전문점', '커피-음료']

sale_df_19_fm = sale_df_19[sale_df_19['서비스업종코드명'].isin(food)]
sale_df_19_fm['서비스업종코드명'].unique()

array(['치킨전문점', '패스트푸드점', '커피-음료', '제과점'], dtype=object)

In [11]:
sale_df_19_fm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 2 to 18744
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준년분기코드      400 non-null    object
 1   자치구코드명       400 non-null    object
 2   서비스업종코드명     400 non-null    object
 3   연령대10매출금액    400 non-null    int64
 4   연령대20매출금액    400 non-null    int64
 5   연령대30매출금액    400 non-null    int64
 6   연령대40매출금액    400 non-null    int64
 7   연령대50매출금액    400 non-null    int64
 8   연령대60이상매출금액  400 non-null    int64
dtypes: int64(6), object(3)
memory usage: 31.2+ KB

In [12]:
sale_df_23_fm = sale_df_23[sale_df_23['서비스업종코드명'].isin(food)]
sale_df_23_fm['서비스업종코드명'].unique()

array(['제과점', '패스트푸드점', '커피-음료', '치킨전문점'], dtype=object)

In [13]:
sale_df_23_fm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 7786 to 29269
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준년분기코드      300 non-null    object
 1   자치구코드명       300 non-null    object
 2   서비스업종코드명     300 non-null    object
 3   연령대10매출금액    300 non-null    int64
 4   연령대20매출금액    300 non-null    int64
 5   연령대30매출금액    300 non-null    int64
 6   연령대40매출금액    300 non-null    int64
 7   연령대50매출금액    300 non-null    int64
 8   연령대60이상매출금액  300 non-null    int64
dtypes: int64(6), object(3)
memory usage: 23.4+ KB

#2019data

In [14]:
sale_df_19_fm['40대이하매출'] = sale_df_19_fm['연령대10매출금액'] + sale_df_19_fm['연령대20매출금액'] + sale_df_19_fm['연령대30매출금액'] + sale_df_19_fm['연령대40매출금액']

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\3186307781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_19_fm['40대이하매출'] = sale_df_19_fm['연령대10매출금액'] + sale_df_19_fm['연령대20매출금액'] + sale_df_19_fm['연령대30매출금액'] + sale_df_19_fm['연령대40매출금액']

In [15]:
sale_df_19_fm['전연령매출금액'] = sale_df_19_fm['연령대10매출금액'] + sale_df_19_fm['연령대20매출금액'] + sale_df_19_fm['연령대30매출금액'] + sale_df_19_fm['연령대40매출금액'] + sale_df_19_fm['연령대50매출금액'] + sale_df_19_fm['연령대60이상매출금액']

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\2766797230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_19_fm['전연령매출금액'] = sale_df_19_fm['연령대10매출금액'] + sale_df_19_fm['연령대20매출금액'] + sale_df_19_fm['연령대30매출금액'] + sale_df_19_fm['연령대40매출금액'] + sale_df_19_fm['연령대50매출금액'] + sale_df_19_fm['연령대60이상매출금액']

In [16]:
sale_df_19_fm['전연령대비40대이하매출비율'] = sale_df_19_fm['40대이하매출']/sale_df_19_fm['전연령매출금액']
sale_df_19_fm

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\2955547253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_19_fm['전연령대비40대이하매출비율'] = sale_df_19_fm['40대이하매출']/sale_df_19_fm['전연령매출금액']

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액,40대이하매출,전연령매출금액,전연령대비40대이하매출비율
2,2019,종로구,치킨전문점,40820693,927312845,698362320,599689873,471883377,161088031,2266185731,2899157139,0.781671
13,2019,중구,치킨전문점,20577771,563320319,608073771,555146650,419589604,135615039,1747118511,2302323154,0.758850
17,2019,중구,패스트푸드점,71493191,1733284584,1452906110,879053376,487472218,198016843,4136737261,4822226322,0.857848
50,2019,중랑구,패스트푸드점,113490447,1719079496,1869250049,1287287189,1100077075,432148898,4989107181,6521333154,0.765044
93,2019,서대문구,치킨전문점,40195570,754035420,362125498,381032959,305959559,104282796,1537389447,1947631802,0.789363
...,...,...,...,...,...,...,...,...,...,...,...,...
18675,2019,양천구,커피-음료,192426336,1729692539,1464149566,1514815341,935910449,291529053,4901083782,6128523284,0.799717
18706,2019,동작구,치킨전문점,111398852,1387678058,838564730,1023892113,870408015,294173986,3361533753,4526115754,0.742697
18721,2019,서초구,커피-음료,413511667,9335922615,9913731589,7461913896,4592978384,2253528813,27125079767,33971586964,0.798464
18734,2019,강남구,제과점,183910396,3552257897,4405550642,4781286668,3414791192,1907549473,12923005603,18245346268,0.708291
18744,2019,송파구,제과점,180461961,2807601085,3797496264,3785012596,2236811051,1457593971,10570571906,14264976928,0.741016

In [17]:
sale_df_19_fm['Index']=range(1, len(sale_df_19_fm)+1)
sale_df_19_fm

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\1239913720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_19_fm['Index']=range(1, len(sale_df_19_fm)+1)

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액,40대이하매출,전연령매출금액,전연령대비40대이하매출비율,Index
2,2019,종로구,치킨전문점,40820693,927312845,698362320,599689873,471883377,161088031,2266185731,2899157139,0.781671,1
13,2019,중구,치킨전문점,20577771,563320319,608073771,555146650,419589604,135615039,1747118511,2302323154,0.758850,2
17,2019,중구,패스트푸드점,71493191,1733284584,1452906110,879053376,487472218,198016843,4136737261,4822226322,0.857848,3
50,2019,중랑구,패스트푸드점,113490447,1719079496,1869250049,1287287189,1100077075,432148898,4989107181,6521333154,0.765044,4
93,2019,서대문구,치킨전문점,40195570,754035420,362125498,381032959,305959559,104282796,1537389447,1947631802,0.789363,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18675,2019,양천구,커피-음료,192426336,1729692539,1464149566,1514815341,935910449,291529053,4901083782,6128523284,0.799717,396
18706,2019,동작구,치킨전문점,111398852,1387678058,838564730,1023892113,870408015,294173986,3361533753,4526115754,0.742697,397
18721,2019,서초구,커피-음료,413511667,9335922615,9913731589,7461913896,4592978384,2253528813,27125079767,33971586964,0.798464,398
18734,2019,강남구,제과점,183910396,3552257897,4405550642,4781286668,3414791192,1907549473,12923005603,18245346268,0.708291,399
18744,2019,송파구,제과점,180461961,2807601085,3797496264,3785012596,2236811051,1457593971,10570571906,14264976928,0.741016,400

#2023data

In [18]:
sale_df_23_fm['40대이하매출'] = sale_df_23_fm['연령대10매출금액'] + sale_df_23_fm['연령대20매출금액'] + sale_df_23_fm['연령대30매출금액'] + sale_df_23_fm['연령대40매출금액']

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\4277230820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_23_fm['40대이하매출'] = sale_df_23_fm['연령대10매출금액'] + sale_df_23_fm['연령대20매출금액'] + sale_df_23_fm['연령대30매출금액'] + sale_df_23_fm['연령대40매출금액']

In [19]:
sale_df_23_fm['전연령매출금액'] = sale_df_23_fm['연령대10매출금액'] + sale_df_23_fm['연령대20매출금액'] + sale_df_23_fm['연령대30매출금액'] + sale_df_23_fm['연령대40매출금액'] + sale_df_23_fm['연령대50매출금액'] + sale_df_23_fm['연령대60이상매출금액']

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\2994481169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_23_fm['전연령매출금액'] = sale_df_23_fm['연령대10매출금액'] + sale_df_23_fm['연령대20매출금액'] + sale_df_23_fm['연령대30매출금액'] + sale_df_23_fm['연령대40매출금액'] + sale_df_23_fm['연령대50매출금액'] + sale_df_23_fm['연령대60이상매출금액']

In [20]:
sale_df_23_fm['전연령대비40대이하매출비율'] = sale_df_23_fm['40대이하매출']/sale_df_23_fm['전연령매출금액']
sale_df_23_fm

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\1757369636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_23_fm['전연령대비40대이하매출비율'] = sale_df_23_fm['40대이하매출']/sale_df_23_fm['전연령매출금액']

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액,40대이하매출,전연령매출금액,전연령대비40대이하매출비율
7786,2023,동대문구,제과점,69166232,1284320481,1455977229,1659147261,1590862305,1069351261,4468611203,7128824769,0.626837
7849,2023,강남구,제과점,158140237,3116243322,5098147902,5080893791,3921417341,2991000248,13453425252,20365842841,0.660588
7855,2023,강남구,패스트푸드점,379674298,3874133781,4868164939,3884908577,2793789985,1199269946,13006881595,16999941526,0.765113
7859,2023,금천구,제과점,31216365,615942640,1101913315,1064366295,1062320641,793308784,2813438615,4669068040,0.602570
7869,2023,광진구,커피-음료,305279086,5656664575,4406357487,2712754661,2520237110,1262554688,13081055809,16863847607,0.775686
...,...,...,...,...,...,...,...,...,...,...,...,...
29230,2023,구로구,제과점,59085793,993336618,1740859876,1846104926,1598350865,1284875057,4639387213,7522613135,0.616725
29246,2023,영등포구,제과점,47172088,1391100669,2808459481,2945245610,2034134131,1458738178,7191977848,10684850157,0.673100
29251,2023,동작구,치킨전문점,36800462,758050674,813227966,936081364,1108407309,667144304,2544160466,4319712079,0.588965
29268,2023,서초구,제과점,100715701,1776284384,3567222574,4577912324,3518881616,3168269476,10022134983,16709286075,0.599794
29269,2023,서초구,패스트푸드점,97942972,1167133127,1599268897,1264964488,964946805,562679667,4129309484,5656935956,0.729955

In [21]:
sale_df_23_fm['Index']=range(1, len(sale_df_23_fm)+1)
sale_df_23_fm

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\4054141192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_df_23_fm['Index']=range(1, len(sale_df_23_fm)+1)

,기준년분기코드,자치구코드명,서비스업종코드명,연령대10매출금액,연령대20매출금액,연령대30매출금액,연령대40매출금액,연령대50매출금액,연령대60이상매출금액,40대이하매출,전연령매출금액,전연령대비40대이하매출비율,Index
7786,2023,동대문구,제과점,69166232,1284320481,1455977229,1659147261,1590862305,1069351261,4468611203,7128824769,0.626837,1
7849,2023,강남구,제과점,158140237,3116243322,5098147902,5080893791,3921417341,2991000248,13453425252,20365842841,0.660588,2
7855,2023,강남구,패스트푸드점,379674298,3874133781,4868164939,3884908577,2793789985,1199269946,13006881595,16999941526,0.765113,3
7859,2023,금천구,제과점,31216365,615942640,1101913315,1064366295,1062320641,793308784,2813438615,4669068040,0.602570,4
7869,2023,광진구,커피-음료,305279086,5656664575,4406357487,2712754661,2520237110,1262554688,13081055809,16863847607,0.775686,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29230,2023,구로구,제과점,59085793,993336618,1740859876,1846104926,1598350865,1284875057,4639387213,7522613135,0.616725,296
29246,2023,영등포구,제과점,47172088,1391100669,2808459481,2945245610,2034134131,1458738178,7191977848,10684850157,0.673100,297
29251,2023,동작구,치킨전문점,36800462,758050674,813227966,936081364,1108407309,667144304,2544160466,4319712079,0.588965,298
29268,2023,서초구,제과점,100715701,1776284384,3567222574,4577912324,3518881616,3168269476,10022134983,16709286075,0.599794,299
29269,2023,서초구,패스트푸드점,97942972,1167133127,1599268897,1264964488,964946805,562679667,4129309484,5656935956,0.729955,300

#01/27 19,23 concat

In [22]:
new_df=pd.merge(sale_df_23_fm,sale_df_19_fm,on='Index',how='inner')
new_df

,기준년분기코드_x,자치구코드명_x,서비스업종코드명_x,연령대10매출금액_x,연령대20매출금액_x,연령대30매출금액_x,연령대40매출금액_x,연령대50매출금액_x,연령대60이상매출금액_x,40대이하매출_x,...,서비스업종코드명_y,연령대10매출금액_y,연령대20매출금액_y,연령대30매출금액_y,연령대40매출금액_y,연령대50매출금액_y,연령대60이상매출금액_y,40대이하매출_y,전연령매출금액_y,전연령대비40대이하매출비율_y
0,2023,동대문구,제과점,69166232,1284320481,1455977229,1659147261,1590862305,1069351261,4468611203,...,치킨전문점,40820693,927312845,698362320,599689873,471883377,161088031,2266185731,2899157139,0.781671
1,2023,강남구,제과점,158140237,3116243322,5098147902,5080893791,3921417341,2991000248,13453425252,...,치킨전문점,20577771,563320319,608073771,555146650,419589604,135615039,1747118511,2302323154,0.758850
2,2023,강남구,패스트푸드점,379674298,3874133781,4868164939,3884908577,2793789985,1199269946,13006881595,...,패스트푸드점,71493191,1733284584,1452906110,879053376,487472218,198016843,4136737261,4822226322,0.857848
3,2023,금천구,제과점,31216365,615942640,1101913315,1064366295,1062320641,793308784,2813438615,...,패스트푸드점,113490447,1719079496,1869250049,1287287189,1100077075,432148898,4989107181,6521333154,0.765044
4,2023,광진구,커피-음료,305279086,5656664575,4406357487,2712754661,2520237110,1262554688,13081055809,...,치킨전문점,40195570,754035420,362125498,381032959,305959559,104282796,1537389447,1947631802,0.789363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2023,구로구,제과점,59085793,993336618,1740859876,1846104926,1598350865,1284875057,4639387213,...,제과점,31528042,540865845,732186448,782284899,525998204,356757564,2086865234,2969621002,0.702738
296,2023,영등포구,제과점,47172088,1391100669,2808459481,2945245610,2034134131,1458738178,7191977848,...,치킨전문점,68698156,1208117385,662612509,592290078,578755416,197872306,2531718128,3308345850,0.765252
297,2023,동작구,치킨전문점,36800462,758050674,813227966,936081364,1108407309,667144304,2544160466,...,패스트푸드점,67470763,727850290,587790134,747762648,530074225,162895038,2130873835,2823843098,0.754601
298,2023,서초구,제과점,100715701,1776284384,3567222574,4577912324,3518881616,3168269476,10022134983,...,제과점,72821682,769470654,824464380,1110505984,708159626,382869500,2777262700,3868291826,0.717956
299,2023,서초구,패스트푸드점,97942972,1167133127,1599268897,1264964488,964946805,562679667,4129309484,...,패스트푸드점,63743970,602720488,643164239,709905935,514256217,227619041,2019534632,2761409890,0.731342

In [23]:
new_df['Under40SalesRate']=(new_df['40대이하매출_x']-new_df['40대이하매출_y'])/new_df['40대이하매출_y']
new_df

,기준년분기코드_x,자치구코드명_x,서비스업종코드명_x,연령대10매출금액_x,연령대20매출금액_x,연령대30매출금액_x,연령대40매출금액_x,연령대50매출금액_x,연령대60이상매출금액_x,40대이하매출_x,...,연령대10매출금액_y,연령대20매출금액_y,연령대30매출금액_y,연령대40매출금액_y,연령대50매출금액_y,연령대60이상매출금액_y,40대이하매출_y,전연령매출금액_y,전연령대비40대이하매출비율_y,Under40SalesRate
0,2023,동대문구,제과점,69166232,1284320481,1455977229,1659147261,1590862305,1069351261,4468611203,...,40820693,927312845,698362320,599689873,471883377,161088031,2266185731,2899157139,0.781671,0.971865
1,2023,강남구,제과점,158140237,3116243322,5098147902,5080893791,3921417341,2991000248,13453425252,...,20577771,563320319,608073771,555146650,419589604,135615039,1747118511,2302323154,0.758850,6.700351
2,2023,강남구,패스트푸드점,379674298,3874133781,4868164939,3884908577,2793789985,1199269946,13006881595,...,71493191,1733284584,1452906110,879053376,487472218,198016843,4136737261,4822226322,0.857848,2.144237
3,2023,금천구,제과점,31216365,615942640,1101913315,1064366295,1062320641,793308784,2813438615,...,113490447,1719079496,1869250049,1287287189,1100077075,432148898,4989107181,6521333154,0.765044,-0.436084
4,2023,광진구,커피-음료,305279086,5656664575,4406357487,2712754661,2520237110,1262554688,13081055809,...,40195570,754035420,362125498,381032959,305959559,104282796,1537389447,1947631802,0.789363,7.508616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2023,구로구,제과점,59085793,993336618,1740859876,1846104926,1598350865,1284875057,4639387213,...,31528042,540865845,732186448,782284899,525998204,356757564,2086865234,2969621002,0.702738,1.223137
296,2023,영등포구,제과점,47172088,1391100669,2808459481,2945245610,2034134131,1458738178,7191977848,...,68698156,1208117385,662612509,592290078,578755416,197872306,2531718128,3308345850,0.765252,1.840750
297,2023,동작구,치킨전문점,36800462,758050674,813227966,936081364,1108407309,667144304,2544160466,...,67470763,727850290,587790134,747762648,530074225,162895038,2130873835,2823843098,0.754601,0.193952
298,2023,서초구,제과점,100715701,1776284384,3567222574,4577912324,3518881616,3168269476,10022134983,...,72821682,769470654,824464380,1110505984,708159626,382869500,2777262700,3868291826,0.717956,2.608638
299,2023,서초구,패스트푸드점,97942972,1167133127,1599268897,1264964488,964946805,562679667,4129309484,...,63743970,602720488,643164239,709905935,514256217,227619041,2019534632,2761409890,0.731342,1.044684

In [24]:
selected_df = new_df[['자치구코드명_x', 'Under40SalesRate','Index']]
selected_df

    자치구코드명_x  Under40SalesRate  Index
0       동대문구          0.971865      1
1        강남구          6.700351      2
2        강남구          2.144237      3
3        금천구         -0.436084      4
4        광진구          7.508616      5
..       ...               ...    ...
295      구로구          1.223137    296
296     영등포구          1.840750    297
297      동작구          0.193952    298
298      서초구          2.608638    299
299      서초구          1.044684    300

[300 rows x 3 columns]

In [25]:
mean_Under40SalesRate = selected_df['Under40SalesRate'].mean()

In [26]:
selected_df = selected_df.rename(columns={'자치구코드명_x': '자치구'})
selected_df

      자치구  Under40SalesRate  Index
0    동대문구          0.971865      1
1     강남구          6.700351      2
2     강남구          2.144237      3
3     금천구         -0.436084      4
4     광진구          7.508616      5
..    ...               ...    ...
295   구로구          1.223137    296
296  영등포구          1.840750    297
297   동작구          0.193952    298
298   서초구          2.608638    299
299   서초구          1.044684    300

[300 rows x 3 columns]

In [27]:
selected_df['자치구'] = selected_df['자치구'].replace({' 종로구':'종로구', ' 중구':'중구', ' 용산구':'용산구', ' 성동구':'성동구', ' 광진구':'광진구', ' 동대문구':'동대문구', ' 성북구':'성북구', ' 강북구':'강북구',
       ' 노원구':'노원구', ' 은평구':'은평구', ' 서대문구':'서대문구', ' 마포구':'마포구', ' 양천구':'양천구', ' 강서구':'강서구', ' 구로구':'구로구', ' 영등포구':'영등포구',
       ' 동작구':'동작구', ' 관악구':'관악구', ' 서초구':'서초구', ' 강남구':'강남구', ' 송파구':'송파구', ' 강동구':'강동구'}, regex=True)

#임대료 데이터 불러오기

In [28]:
# 파일 경로 설정
file1_2019 = '2019_소규모상가.csv'
file2_2019 = '2019_중대형상가.csv'
file3_2019 = '2019_집합.csv'

# CSV 파일을 DataFrame으로 읽어오기
df1_2019 = pd.read_csv(file1_2019,encoding='cp949')
df2_2019 = pd.read_csv(file2_2019,encoding='cp949')
df3_2019 = pd.read_csv(file3_2019,encoding='cp949')

# 데이터프레임 합치기 (세로로 합치기)
merged_df_2019 = pd.concat([df1_2019, df2_2019, df3_2019], ignore_index=True)

# 합쳐진 결과를 CSV 파일로 저장
merged_df_2019.to_csv('2019_data.csv', index=False)
file4_2019=merged_df_2019.to_csv('2019_data.csv', index=False)
df4_2019 = pd.read_csv('2019_data.csv')

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\4094900305.py:8: DtypeWarning: Columns (1,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2_2019 = pd.read_csv(file2_2019,encoding='cp949')
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\4094900305.py:9: DtypeWarning: Columns (0,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df3_2019 = pd.read_csv(file3_2019,encoding='cp949')
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\4094900305.py:17: DtypeWarning: Columns (0,1,4,6,7,8,9,10,11,13,14,18,20,21,22,23,24,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,82,83,84,85,86,87,88,89,90,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  df4_2019 = pd.read_csv('2019_data.csv')

In [29]:
columns_list_2019 = df4_2019.columns.tolist()
columns_list_2019

['표본구분',
 '광역상권',
 '상권명',
 '소재지',
 '소유형태명',
 '소유자수',
 '용도지역1명',
 '용도지역2명',
 '용도지구1명',
 '용도지구2명',
 '이용현황_지상층수',
 '이용현황_지하층수',
 '사용승인_준공_일자',
 '건물구조명',
 '용도구분명',
 '건폐율',
 '용적률',
 '지하철역출구',
 '버스정류장',
 '주요교차로',
 '도로접면명',
 '옥내주차장 유무명',
 '옥외주차장 유무명',
 '승객용 승강기 ',
 '화물용 승강기 수',
 '대지면적',
 '건축연멱적',
 '전용면적',
 '공용면적',
 '전용률',
 '현재임대계약면적',
 '공실면적',
 '비임대면적',
 '특이면적',
 '특이면적외 기타면적',
 '주차장면적 소계',
 '지상층주차장',
 '지하층주차장',
 '피로티주차장',
 '옥외주차장',
 '지목명',
 '토지대장상 토지면적',
 '전환률',
 '조사층',
 '임차인사용현황구분',
 '임차인업종대분류',
 '임차인업종소분류',
 '전용면적(호)',
 '공용면적(호)',
 '임차인별면적합계',
 '제1월계약임대료_보증금(총액)',
 '제1월계약임대료_월세(총액)',
 '제1월계약임대료_m당월세임대료',
 '제1월시장임대료_보증금(총액)',
 '제1월시장임대료_월세(총액)',
 '제1월시장임대료_m당월세임대료',
 '제1월관리비총액',
 '제1월관리비실비총액',
 '제1월공실',
 '제2월계약임대료_보증금(총액)',
 '제2월계약임대료_월세(총액)',
 '제2월계약임대료_m당월세임대료',
 '제2월시장임대료_보증금(총액)',
 '제2월시장임대료_월세(총액)',
 '제2월시장임대료_m당월세임대료',
 '제2월관리비총액',
 '제2월관리비실비총액',
 '제2월공실',
 '제3월계약임대료_보증금(총액)',
 '제3월계약임대료_월세(총액)',
 '제3월계약임대료_m당월세임대료',
 '제3월시장임대료_보증금(총액)',
 '제3월시장임대료_월세(총액)',
 '제3월시장임대료_m당월세임대료',
 '제3월관리비총액',
 '제3월관리비실비총액',
 '제3월공실',
 '현계약개시일',
 '현계약기간',
 '최초계약개시일',
 '최종조사산정액_토지면적 m단가',
 '최종조사산정액_연면적 m당단가',
 '건축면적',
 '연면적',
 '건물구조',
 '주용도',
 '지상층수',
 '지하층수',
 '승강기수',
 '주차장면적',
 '용도지역',
 '전통시장',
 '기준층',
 '소유자수(호)',
 '소유자형태',
 '최종조사산정액_m당단가']

In [30]:

# 선택하고 싶은 칼럼 목록
columns_to_keep_2019 = ['상권명', '소재지', '제1월시장임대료_m당월세임대료','제2월시장임대료_m당월세임대료','제3월시장임대료_m당월세임대료']

# 원하는 칼럼들만 선택
filtered_df_2019 = df4_2019[columns_to_keep_2019]

value_to_exclude_2019 = '0.비상권'
filtered_df_2019 = filtered_df_2019[ (filtered_df_2019['상권명'] != value_to_exclude_2019)]
filtered_df_2019

          상권명        소재지  제1월시장임대료_m당월세임대료  제2월시장임대료_m당월세임대료  제3월시장임대료_m당월세임대료
19        광화문  서울특별시 종로구            125300            125300            125300
20        광화문  서울특별시 종로구            170700            170700            170700
21        광화문  서울특별시 종로구            169400            169400            169400
22        광화문  서울특별시 종로구             95000             95000             95000
23        광화문  서울특별시 종로구             54000             54000             54000
...       ...        ...               ...               ...               ...
47456  충주자유시장   충청북도 충주시             36400             36400             36400
47457  충주자유시장   충청북도 충주시             36400             36400             36400
47458  충주자유시장   충청북도 충주시              4400              4400              4400
47459  충주자유시장   충청북도 충주시             18800             18800             18800
47460  충주자유시장   충청북도 충주시              3400              3400              3400

[37351 rows x 5 columns]

In [31]:
#서울 소재지만 사용
desired_value_2019 = '서울특별시'
filtered_df_2019 = filtered_df_2019[filtered_df_2019['소재지'].str.contains(desired_value_2019, case=False)]
filtered_df_2019['소재지'] = filtered_df_2019['소재지'].str.replace('서울특별시', '')
# 결과 출력 또는 다른 처리 수행
filtered_df_2019

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\3756156345.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_2019['소재지'] = filtered_df_2019['소재지'].str.replace('서울특별시', '')

       상권명   소재지  제1월시장임대료_m당월세임대료  제2월시장임대료_m당월세임대료  제3월시장임대료_m당월세임대료
19     광화문   종로구            125300            125300            125300
20     광화문   종로구            170700            170700            170700
21     광화문   종로구            169400            169400            169400
22     광화문   종로구             95000             95000             95000
23     광화문   종로구             54000             54000             54000
...    ...   ...               ...               ...               ...
42432   화곡   강서구             45100             45100             45100
42433   화곡   강서구             70200             70200             70200
42434   화곡   강서구             70000             70000             70000
42435   화곡   강서구             45100             45100             45100
42436   화곡   강서구             50500             50500             50500

[9670 rows x 5 columns]

In [32]:
#월세평균
column1_2019 = '제1월시장임대료_m당월세임대료'
column2_2019 = '제2월시장임대료_m당월세임대료'
column3_2019 = '제3월시장임대료_m당월세임대료'

filtered_df_2019['2019_평균값'] = filtered_df_2019[[column1_2019, column2_2019, column3_2019]].mean(axis=1)
filtered_df_2019

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\1442487790.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_2019['2019_평균값'] = filtered_df_2019[[column1_2019, column2_2019, column3_2019]].mean(axis=1)

,상권명,소재지,제1월시장임대료_m당월세임대료,제2월시장임대료_m당월세임대료,제3월시장임대료_m당월세임대료,2019_평균값
19,광화문,종로구,125300,125300,125300,125300.0
20,광화문,종로구,170700,170700,170700,170700.0
21,광화문,종로구,169400,169400,169400,169400.0
22,광화문,종로구,95000,95000,95000,95000.0
23,광화문,종로구,54000,54000,54000,54000.0
...,...,...,...,...,...,...
42432,화곡,강서구,45100,45100,45100,45100.0
42433,화곡,강서구,70200,70200,70200,70200.0
42434,화곡,강서구,70000,70000,70000,70000.0
42435,화곡,강서구,45100,45100,45100,45100.0
42436,화곡,강서구,50500,50500,50500,50500.0

#01/27 수정 임대료19

In [33]:
filtered_df_2019=filtered_df_2019[['소재지','2019_평균값']]
filtered_df_2019

        소재지  2019_평균값
19      종로구  125300.0
20      종로구  170700.0
21      종로구  169400.0
22      종로구   95000.0
23      종로구   54000.0
...     ...       ...
42432   강서구   45100.0
42433   강서구   70200.0
42434   강서구   70000.0
42435   강서구   45100.0
42436   강서구   50500.0

[9670 rows x 2 columns]

In [34]:
filtered_df_2019 = filtered_df_2019.rename(columns={'소재지': '자치구'})
filtered_df_2019

        자치구  2019_평균값
19      종로구  125300.0
20      종로구  170700.0
21      종로구  169400.0
22      종로구   95000.0
23      종로구   54000.0
...     ...       ...
42432   강서구   45100.0
42433   강서구   70200.0
42434   강서구   70000.0
42435   강서구   45100.0
42436   강서구   50500.0

[9670 rows x 2 columns]

In [35]:
filtered_df_2019['자치구'] = filtered_df_2019['자치구'].replace({' 종로구':'종로구', ' 중구':'중구', ' 용산구':'용산구', ' 성동구':'성동구', ' 광진구':'광진구', ' 동대문구':'동대문구', ' 성북구':'성북구', ' 강북구':'강북구',
       ' 노원구':'노원구', ' 은평구':'은평구', ' 서대문구':'서대문구', ' 마포구':'마포구', ' 양천구':'양천구', ' 강서구':'강서구', ' 구로구':'구로구', ' 영등포구':'영등포구',
       ' 동작구':'동작구', ' 관악구':'관악구', ' 서초구':'서초구', ' 강남구':'강남구', ' 송파구':'송파구', ' 강동구':'강동구'}, regex=True)

In [36]:
filtered_df_2019['Index']=range(1, len(filtered_df_2019)+1)
filtered_df_2019

       자치구  2019_평균값  Index
19     종로구  125300.0      1
20     종로구  170700.0      2
21     종로구  169400.0      3
22     종로구   95000.0      4
23     종로구   54000.0      5
...    ...       ...    ...
42432  강서구   45100.0   9666
42433  강서구   70200.0   9667
42434  강서구   70000.0   9668
42435  강서구   45100.0   9669
42436  강서구   50500.0   9670

[9670 rows x 3 columns]

#2023_rentalfee

In [37]:
# 파일 경로 설정
file1 = '2023_소규모상가.csv'
file2 = '2023_중대형상가.csv'
file3 = '2023_집합.csv'

# CSV 파일을 DataFrame으로 읽어오기
df1 = pd.read_csv(file1,encoding='cp949')
df2 = pd.read_csv(file2,encoding='cp949')
df3 = pd.read_csv(file3,encoding='cp949')

# 데이터프레임 합치기 (세로로 합치기)
merged_df = pd.concat([df1, df2, df3], ignore_index=True)

# 합쳐진 결과를 CSV 파일로 저장
merged_df.to_csv('2023_data.csv', index=False)
file4=merged_df.to_csv('2023_data.csv', index=False)
df4 = pd.read_csv('2023_data.csv')

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\41295270.py:7: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1,encoding='cp949')
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\41295270.py:8: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2,encoding='cp949')
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\41295270.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file3,encoding='cp949')
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\41295270.py:17: DtypeWarning: Columns (0,1,4,5,6,7,8,9,11,12,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,73,74,75,76,77,78,79,80,81,82,83,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('2023_data.csv')

In [38]:
columns_list = df4.columns.tolist()
columns_list

['표본구분',
 '광역상권',
 '상권명',
 '소재지',
 '용도지역1명',
 '용도지역2명',
 '용도지구1명',
 '용도지구2명',
 '이용현황_지상층수',
 '이용현황_지하층수',
 '사용승인_준공_일자',
 '건물구조명',
 '용도구분명',
 '건폐율',
 '용적률',
 '지하철역출구',
 '버스정류장',
 '도로접면명',
 '옥내주차장 유무명',
 '옥외주차장 유무명',
 '승객용 승강기 ',
 '대지면적',
 '건축연면적',
 '전용면적',
 '공용면적',
 '전용률',
 '현재임대계약면적',
 '공실면적',
 '비임대면적',
 '특이면적',
 '특이면적외 기타면적',
 '지목명',
 '토지대장상 토지면적',
 '전환률',
 '조사층',
 '임차인사용현황구분',
 '임차인업종대분류',
 '임차인업종소분류',
 '전용면적(호)',
 '공용면적(호)',
 '임차인별면적합계',
 '제1월계약임대료_보증금(총액)',
 '제1월계약임대료_월세(총액)',
 '제1월계약임대료_㎡당월세임대료',
 '제1월시장임대료_보증금(총액)',
 '제1월시장임대료_월세(총액)',
 '제1월시장임대료_㎡당월세임대료',
 '제1월관리비총액',
 '제1월관리비실비총액',
 '제1월공실',
 '제2월계약임대료_보증금(총액)',
 '제2월계약임대료_월세(총액)',
 '제2월계약임대료_㎡당월세임대료',
 '제2월시장임대료_보증금(총액)',
 '제2월시장임대료_월세(총액)',
 '제2월시장임대료_㎡당월세임대료',
 '제2월관리비총액',
 '제2월관리비실비총액',
 '제2월공실',
 '제3월계약임대료_보증금(총액)',
 '제3월계약임대료_월세(총액)',
 '제3월계약임대료_㎡당월세임대료',
 '제3월시장임대료_보증금(총액)',
 '제3월시장임대료_월세(총액)',
 '제3월시장임대료_㎡당월세임대료',
 '제3월관리비총액',
 '제3월관리비실비총액',
 '제3월공실',
 '현계약개시일',
 '현계약기간',
 '최초계약개시일',
 '최종조사산정액_토지면적 ㎡단가',
 '최종조사산정액_연면적 ㎡당단가',
 '기타수입_연면적 ㎡당 단가',
 '영업경비_연면적 ㎡당 단가',
 '건축면적',
 '연면적',
 '건물구조',
 '주용도',
 '지상층수',
 '지하층수',
 '승강기수',
 '용도지역',
 '전통시장',
 '기준층',
 '최종조사산정액_㎡당 단가',
 '기타수입_㎡당 단가',
 '영업경비_㎡당 단가']

In [39]:
# 선택하고 싶은 칼럼 목록
columns_to_keep = ['상권명', '소재지', '제1월시장임대료_㎡당월세임대료','제2월시장임대료_㎡당월세임대료','제3월시장임대료_㎡당월세임대료']

# 원하는 칼럼들만 선택
filtered_df = df4[columns_to_keep]

value_to_exclude = '0.비상권'
filtered_df = filtered_df[ (filtered_df['상권명'] != value_to_exclude)]
filtered_df

          상권명        소재지  제1월시장임대료_㎡당월세임대료  제2월시장임대료_㎡당월세임대료  제3월시장임대료_㎡당월세임대료
18        광화문  서울특별시 종로구            117800            117800            117800
19        광화문  서울특별시 종로구            192300            192300            192300
20        광화문  서울특별시 종로구            155300            155300            155300
21        광화문  서울특별시 종로구            140700            140700            140700
22        광화문  서울특별시 종로구            140700            140700            140700
...       ...        ...               ...               ...               ...
70937  충주자유시장   충청북도 충주시              5800              5800              5800
70938  충주자유시장   충청북도 충주시              5700              5700              5700
70939  충주자유시장   충청북도 충주시             16500             16500             16500
70940  충주자유시장   충청북도 충주시              4000              4000              4000
70941  충주자유시장   충청북도 충주시             35000             35000             35000

[58353 rows x 5 columns]

In [40]:
#서울 소재지만 사용
desired_value = '서울특별시'
filtered_df = filtered_df[filtered_df['소재지'].str.contains(desired_value, case=False)]

# 결과 출력 또는 다른 처리 수행
filtered_df

       상권명        소재지  제1월시장임대료_㎡당월세임대료  제2월시장임대료_㎡당월세임대료  제3월시장임대료_㎡당월세임대료
18     광화문  서울특별시 종로구            117800            117800            117800
19     광화문  서울특별시 종로구            192300            192300            192300
20     광화문  서울특별시 종로구            155300            155300            155300
21     광화문  서울특별시 종로구            140700            140700            140700
22     광화문  서울특별시 종로구            140700            140700            140700
...    ...        ...               ...               ...               ...
64263   화곡  서울특별시 강서구             15400             15400             15400
64264   화곡  서울특별시 강서구             22500             22500             22500
64265   화곡  서울특별시 강서구             12600             12600             12600
64266   화곡  서울특별시 강서구             16700             16700             16700
64267   화곡  서울특별시 강서구             13600             13600             13600

[14531 rows x 5 columns]

In [41]:
#월세평균
column1 = '제1월시장임대료_㎡당월세임대료'
column2 = '제2월시장임대료_㎡당월세임대료'
column3 = '제3월시장임대료_㎡당월세임대료'

filtered_df['2023_평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)
filtered_df['소재지'] = filtered_df['소재지'].str.replace('서울특별시', '')
filtered_df

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\725158338.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['2023_평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\725158338.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['소재지'] = filtered_df['소재지'].str.replace('서울특별시', '')

,상권명,소재지,제1월시장임대료_㎡당월세임대료,제2월시장임대료_㎡당월세임대료,제3월시장임대료_㎡당월세임대료,2023_평균값
18,광화문,종로구,117800,117800,117800,117800.0
19,광화문,종로구,192300,192300,192300,192300.0
20,광화문,종로구,155300,155300,155300,155300.0
21,광화문,종로구,140700,140700,140700,140700.0
22,광화문,종로구,140700,140700,140700,140700.0
...,...,...,...,...,...,...
64263,화곡,강서구,15400,15400,15400,15400.0
64264,화곡,강서구,22500,22500,22500,22500.0
64265,화곡,강서구,12600,12600,12600,12600.0
64266,화곡,강서구,16700,16700,16700,16700.0
64267,화곡,강서구,13600,13600,13600,13600.0

#01/27 수정 Rental23

In [42]:
filtered_df=filtered_df[['소재지','2023_평균값']]
filtered_df

        소재지  2023_평균값
18      종로구  117800.0
19      종로구  192300.0
20      종로구  155300.0
21      종로구  140700.0
22      종로구  140700.0
...     ...       ...
64263   강서구   15400.0
64264   강서구   22500.0
64265   강서구   12600.0
64266   강서구   16700.0
64267   강서구   13600.0

[14531 rows x 2 columns]

In [43]:
filtered_df = filtered_df.rename(columns={'소재지': '자치구'})

In [44]:
filtered_df['자치구'] = filtered_df['자치구'].replace({' 종로구':'종로구', ' 중구':'중구', ' 용산구':'용산구', ' 성동구':'성동구', ' 광진구':'광진구', ' 동대문구':'동대문구', ' 성북구':'성북구', ' 강북구':'강북구',
       ' 노원구':'노원구', ' 은평구':'은평구', ' 서대문구':'서대문구', ' 마포구':'마포구', ' 양천구':'양천구', ' 강서구':'강서구', ' 구로구':'구로구', ' 영등포구':'영등포구',
       ' 동작구':'동작구', ' 관악구':'관악구', ' 서초구':'서초구', ' 강남구':'강남구', ' 송파구':'송파구', ' 강동구':'강동구'}, regex=True)

#01/27 Merge Revise

In [45]:
filtered_df['Index']=range(1, len(filtered_df)+1)
filtered_df

       자치구  2023_평균값  Index
18     종로구  117800.0      1
19     종로구  192300.0      2
20     종로구  155300.0      3
21     종로구  140700.0      4
22     종로구  140700.0      5
...    ...       ...    ...
64263  강서구   15400.0  14527
64264  강서구   22500.0  14528
64265  강서구   12600.0  14529
64266  강서구   16700.0  14530
64267  강서구   13600.0  14531

[14531 rows x 3 columns]

In [46]:
new_df_rental=pd.merge(filtered_df,filtered_df_2019,on='Index',how='inner')
new_df_rental

     자치구_x  2023_평균값  Index 자치구_y  2019_평균값
0      종로구  117800.0      1   종로구  125300.0
1      종로구  192300.0      2   종로구  170700.0
2      종로구  155300.0      3   종로구  169400.0
3      종로구  140700.0      4   종로구   95000.0
4      종로구  140700.0      5   종로구   54000.0
...    ...       ...    ...   ...       ...
9665   강동구   10600.0   9666   강서구   45100.0
9666   강동구   14300.0   9667   강서구   70200.0
9667   강동구   11200.0   9668   강서구   70000.0
9668   강동구   12100.0   9669   강서구   45100.0
9669   강동구   10500.0   9670   강서구   50500.0

[9670 rows x 5 columns]

In [47]:
new_df_rental['RentalRate']=(new_df_rental['2023_평균값']-new_df_rental['2019_평균값'])/new_df_rental['2019_평균값']
new_df_rental

     자치구_x  2023_평균값  Index 자치구_y  2019_평균값  RentalRate
0      종로구  117800.0      1   종로구  125300.0   -0.059856
1      종로구  192300.0      2   종로구  170700.0    0.126538
2      종로구  155300.0      3   종로구  169400.0   -0.083235
3      종로구  140700.0      4   종로구   95000.0    0.481053
4      종로구  140700.0      5   종로구   54000.0    1.605556
...    ...       ...    ...   ...       ...         ...
9665   강동구   10600.0   9666   강서구   45100.0   -0.764967
9666   강동구   14300.0   9667   강서구   70200.0   -0.796296
9667   강동구   11200.0   9668   강서구   70000.0   -0.840000
9668   강동구   12100.0   9669   강서구   45100.0   -0.731707
9669   강동구   10500.0   9670   강서구   50500.0   -0.792079

[9670 rows x 6 columns]

In [48]:
new_df_rental=new_df_rental.drop(['2023_평균값','2019_평균값','자치구_y'],axis=1)
new_df_rental

     자치구_x  Index  RentalRate
0      종로구      1   -0.059856
1      종로구      2    0.126538
2      종로구      3   -0.083235
3      종로구      4    0.481053
4      종로구      5    1.605556
...    ...    ...         ...
9665   강동구   9666   -0.764967
9666   강동구   9667   -0.796296
9667   강동구   9668   -0.840000
9668   강동구   9669   -0.731707
9669   강동구   9670   -0.792079

[9670 rows x 3 columns]

In [49]:
new_df_rental=new_df_rental.rename(columns={'자치구_x':'자치구'})
new_df_rental

      자치구  Index  RentalRate
0     종로구      1   -0.059856
1     종로구      2    0.126538
2     종로구      3   -0.083235
3     종로구      4    0.481053
4     종로구      5    1.605556
...   ...    ...         ...
9665  강동구   9666   -0.764967
9666  강동구   9667   -0.796296
9667  강동구   9668   -0.840000
9668  강동구   9669   -0.731707
9669  강동구   9670   -0.792079

[9670 rows x 3 columns]

In [50]:
unique_values = new_df_rental['자치구'].unique()
unique_values

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', ' 중랑구', '성북구', '강북구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', ' 금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

#01/27 매출과 임대료 merge

In [51]:
rental_sales_df=pd.merge(selected_df,new_df_rental,on='Index',how='inner')
rental_sales_df

    자치구_x  Under40SalesRate  Index 자치구_y  RentalRate
0    동대문구          0.971865      1   종로구   -0.059856
1     강남구          6.700351      2   종로구    0.126538
2     강남구          2.144237      3   종로구   -0.083235
3     금천구         -0.436084      4   종로구    0.481053
4     광진구          7.508616      5   종로구    1.605556
..    ...               ...    ...   ...         ...
295   구로구          1.223137    296    중구   -0.784854
296  영등포구          1.840750    297    중구    2.389474
297   동작구          0.193952    298    중구   -0.028807
298   서초구          2.608638    299    중구    1.601660
299   서초구          1.044684    300    중구    0.548117

[300 rows x 5 columns]

In [52]:
# 결측치가 있는 행 확인
missing_rows=rental_sales_df.isnull().sum()
missing_rows

자치구_x               0
Under40SalesRate    0
Index               0
자치구_y               0
RentalRate          0
dtype: int64

In [53]:
rental_sales_df['Under40SalesRate'] = rental_sales_df['Under40SalesRate'].fillna(mean_Under40SalesRate)
rental_sales_df

    자치구_x  Under40SalesRate  Index 자치구_y  RentalRate
0    동대문구          0.971865      1   종로구   -0.059856
1     강남구          6.700351      2   종로구    0.126538
2     강남구          2.144237      3   종로구   -0.083235
3     금천구         -0.436084      4   종로구    0.481053
4     광진구          7.508616      5   종로구    1.605556
..    ...               ...    ...   ...         ...
295   구로구          1.223137    296    중구   -0.784854
296  영등포구          1.840750    297    중구    2.389474
297   동작구          0.193952    298    중구   -0.028807
298   서초구          2.608638    299    중구    1.601660
299   서초구          1.044684    300    중구    0.548117

[300 rows x 5 columns]

In [54]:
rental_sales_df=rental_sales_df.drop(['자치구_x'],axis=1)
rental_sales_df

     Under40SalesRate  Index 자치구_y  RentalRate
0            0.971865      1   종로구   -0.059856
1            6.700351      2   종로구    0.126538
2            2.144237      3   종로구   -0.083235
3           -0.436084      4   종로구    0.481053
4            7.508616      5   종로구    1.605556
..                ...    ...   ...         ...
295          1.223137    296    중구   -0.784854
296          1.840750    297    중구    2.389474
297          0.193952    298    중구   -0.028807
298          2.608638    299    중구    1.601660
299          1.044684    300    중구    0.548117

[300 rows x 4 columns]

In [55]:
rental_sales_df=rental_sales_df.rename(columns={'자치구_y':'자치구'})
rental_sales_df

     Under40SalesRate  Index  자치구  RentalRate
0            0.971865      1  종로구   -0.059856
1            6.700351      2  종로구    0.126538
2            2.144237      3  종로구   -0.083235
3           -0.436084      4  종로구    0.481053
4            7.508616      5  종로구    1.605556
..                ...    ...  ...         ...
295          1.223137    296   중구   -0.784854
296          1.840750    297   중구    2.389474
297          0.193952    298   중구   -0.028807
298          2.608638    299   중구    1.601660
299          1.044684    300   중구    0.548117

[300 rows x 4 columns]

In [56]:
#상권분석 데이터
df=pd.read_csv("서울시 상권분석서비스(점포-자치구).csv", encoding='cp949')
df

,기준_년분기_코드,자치구_코드,자치구_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,11740,강동구,CS100004,양식음식점,139,158,10,15,5,8,19
1,20191,11740,강동구,CS300004,핸드폰,209,215,6,12,4,9,6
2,20191,11740,강동구,CS200034,여관,124,125,2,2,5,6,1
3,20191,11110,종로구,CS200005,스포츠 강습,88,92,2,2,5,5,4
4,20191,11110,종로구,CS300020,서적,263,263,1,2,2,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...
47447,20233,11740,강동구,CS300006,미곡판매,117,117,0,0,1,1,0
47448,20233,11740,강동구,CS300031,가구,110,110,1,1,1,1,0
47449,20233,11740,강동구,CS300032,가전제품,145,145,1,1,1,2,0
47450,20233,11740,강동구,CS300034,악기,24,24,4,1,0,0,0
47451,20233,11740,강동구,CS300035,인테리어,215,215,1,1,2,4,0

In [57]:
df1=df.loc[:, ['기준_년분기_코드','자치구_코드_명','서비스_업종_코드_명','점포_수','개업_점포_수','폐업_점포_수','프랜차이즈_점포_수']]
df1

       기준_년분기_코드 자치구_코드_명 서비스_업종_코드_명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0          20191      강동구       양식음식점   139       15        8          19
1          20191      강동구         핸드폰   209       12        9           6
2          20191      강동구          여관   124        2        6           1
3          20191      종로구      스포츠 강습    88        2        5           4
4          20191      종로구          서적   263        2        6           0
...          ...      ...         ...   ...      ...      ...         ...
47447      20233      강동구        미곡판매   117        0        1           0
47448      20233      강동구          가구   110        1        1           0
47449      20233      강동구        가전제품   145        1        2           0
47450      20233      강동구          악기    24        1        0           0
47451      20233      강동구        인테리어   215        1        4           0

[47452 rows x 7 columns]

In [58]:
# 서비스업종코드명에서 음식료품 관련한 것만 저장
df1 = df1[df1['서비스_업종_코드_명'].isin(['양식음식점', '커피-음료', '한식음식점', '패스트푸드점', '제과점', '분식전문점', '일식음식점', '중식음식점', '호프-간이주점', '치킨전문점'])]

#기준_년분기_코드를 년도로만 변경
df1['기준_년분기_코드']=df1['기준_년분기_코드'].astype(str).str[:4]
df1['기준_년분기_코드']=df1['기준_년분기_코드'].astype(int)

C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\3503278088.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['기준_년분기_코드']=df1['기준_년분기_코드'].astype(str).str[:4]
C:\Users\kathy_orp\AppData\Local\Temp\ipykernel_2304\3503278088.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['기준_년분기_코드']=df1['기준_년분기_코드'].astype(int)

In [59]:
df1 = df1[df1['기준_년분기_코드'].isin([2019,2023])]
df1

       기준_년분기_코드 자치구_코드_명 서비스_업종_코드_명  점포_수  개업_점포_수  폐업_점포_수  프랜차이즈_점포_수
0           2019      강동구       양식음식점   139       15        8          19
34          2019      송파구       커피-음료   770       65       49         327
43          2019      광진구       한식음식점  1851       87       72         221
49          2019      성북구       양식음식점   167        8        6          22
57          2019      은평구      패스트푸드점    93        5        9          83
...          ...      ...         ...   ...      ...      ...         ...
47364       2023     영등포구         제과점   167        8        9          88
47374       2023      동작구       치킨전문점    77        7       13         129
47400       2023      서초구         제과점   255       13       11         103
47401       2023      서초구      패스트푸드점   160       10       13         119
47442       2023      강동구       한식음식점  2041       92      100         180

[1750 rows x 7 columns]

In [60]:
df1.rename(columns = {'점포_수':'개인점포수', '기준_년분기_코드':'기준년분기코드', '자치구_코드_명':'자치구코드명', '서비스_업종_코드_명':'서비스업종코드명', '개업_점포_수':'개업점포수', '폐업_점포_수':'폐업점포수', '프랜차이즈_점포_수':'프랜차이즈점포수'}, inplace=True)
df1

       기준년분기코드 자치구코드명 서비스업종코드명  개인점포수  개업점포수  폐업점포수  프랜차이즈점포수
0         2019    강동구    양식음식점    139     15      8        19
34        2019    송파구    커피-음료    770     65     49       327
43        2019    광진구    한식음식점   1851     87     72       221
49        2019    성북구    양식음식점    167      8      6        22
57        2019    은평구   패스트푸드점     93      5      9        83
...        ...    ...      ...    ...    ...    ...       ...
47364     2023   영등포구      제과점    167      8      9        88
47374     2023    동작구    치킨전문점     77      7     13       129
47400     2023    서초구      제과점    255     13     11       103
47401     2023    서초구   패스트푸드점    160     10     13       119
47442     2023    강동구    한식음식점   2041     92    100       180

[1750 rows x 7 columns]

In [61]:
df1['전체점포수'] = df1['프랜차이즈점포수'] + df1['개인점포수']
df1['개인점포-프랜차이즈'] = df1['프랜차이즈점포수'] / df1['개인점포수']
df1

,기준년분기코드,자치구코드명,서비스업종코드명,개인점포수,개업점포수,폐업점포수,프랜차이즈점포수,전체점포수,개인점포-프랜차이즈
0,2019,강동구,양식음식점,139,15,8,19,158,0.136691
34,2019,송파구,커피-음료,770,65,49,327,1097,0.424675
43,2019,광진구,한식음식점,1851,87,72,221,2072,0.119395
49,2019,성북구,양식음식점,167,8,6,22,189,0.131737
57,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473
...,...,...,...,...,...,...,...,...,...
47364,2023,영등포구,제과점,167,8,9,88,255,0.526946
47374,2023,동작구,치킨전문점,77,7,13,129,206,1.675325
47400,2023,서초구,제과점,255,13,11,103,358,0.403922
47401,2023,서초구,패스트푸드점,160,10,13,119,279,0.743750
47442,2023,강동구,한식음식점,2041,92,100,180,2221,0.088192

In [62]:
f_df1 = df1[df1['개인점포-프랜차이즈']>=0.4]
#f_df1.head(10)
f_df1['서비스업종코드명'].unique()
#f_df1.to_excel('개인점포-프랜차이즈.xlsx', encoding='CP949')

array(['커피-음료', '패스트푸드점', '제과점', '치킨전문점', '분식전문점'], dtype=object)

In [63]:
df1['전체-프랜차이즈'] = df1['프랜차이즈점포수'] / df1['전체점포수']
df1

,기준년분기코드,자치구코드명,서비스업종코드명,개인점포수,개업점포수,폐업점포수,프랜차이즈점포수,전체점포수,개인점포-프랜차이즈,전체-프랜차이즈
0,2019,강동구,양식음식점,139,15,8,19,158,0.136691,0.120253
34,2019,송파구,커피-음료,770,65,49,327,1097,0.424675,0.298086
43,2019,광진구,한식음식점,1851,87,72,221,2072,0.119395,0.106660
49,2019,성북구,양식음식점,167,8,6,22,189,0.131737,0.116402
57,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591
...,...,...,...,...,...,...,...,...,...,...
47364,2023,영등포구,제과점,167,8,9,88,255,0.526946,0.345098
47374,2023,동작구,치킨전문점,77,7,13,129,206,1.675325,0.626214
47400,2023,서초구,제과점,255,13,11,103,358,0.403922,0.287709
47401,2023,서초구,패스트푸드점,160,10,13,119,279,0.743750,0.426523
47442,2023,강동구,한식음식점,2041,92,100,180,2221,0.088192,0.081045

In [64]:
fran_df1 = df1[df1['전체-프랜차이즈']>=0.4]
fran_df1['서비스업종코드명'].unique()
#fran_df1.head(10)
#fran_df1.to_excel('전체-프랜차이즈.xlsx', encoding='CP949')

array(['패스트푸드점', '치킨전문점', '제과점', '커피-음료'], dtype=object)

In [65]:
df_19=fran_df1[fran_df1['기준년분기코드']==2019]
df_19

,기준년분기코드,자치구코드명,서비스업종코드명,개인점포수,개업점포수,폐업점포수,프랜차이즈점포수,전체점포수,개인점포-프랜차이즈,전체-프랜차이즈
57,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591
87,2019,중구,패스트푸드점,106,10,10,101,207,0.952830,0.487923
120,2019,영등포구,패스트푸드점,89,4,7,118,207,1.325843,0.570048
208,2019,관악구,패스트푸드점,94,9,7,109,203,1.159574,0.536946
319,2019,마포구,치킨전문점,109,11,14,158,267,1.449541,0.591760
...,...,...,...,...,...,...,...,...,...,...
9604,2019,관악구,패스트푸드점,111,19,4,116,227,1.045045,0.511013
9757,2019,서초구,패스트푸드점,141,21,5,114,255,0.808511,0.447059
9873,2019,구로구,제과점,91,11,5,67,158,0.736264,0.424051
9878,2019,영등포구,제과점,132,11,12,92,224,0.696970,0.410714
9974,2019,동작구,치킨전문점,100,16,19,146,246,1.460000,0.593496

In [66]:
#23년 시작
df_23=fran_df1[fran_df1['기준년분기코드']==2023]
df_23

,기준년분기코드,자치구코드명,서비스업종코드명,개인점포수,개업점포수,폐업점포수,프랜차이즈점포수,전체점포수,개인점포-프랜차이즈,전체-프랜차이즈
39973,2023,양천구,치킨전문점,79,7,8,141,220,1.784810,0.640909
39987,2023,노원구,치킨전문점,115,11,11,163,278,1.417391,0.586331
40230,2023,강남구,치킨전문점,116,12,16,222,338,1.913793,0.656805
40239,2023,구로구,패스트푸드점,101,3,9,96,197,0.950495,0.487310
40246,2023,노원구,패스트푸드점,125,7,13,108,233,0.864000,0.463519
...,...,...,...,...,...,...,...,...,...,...
47030,2023,금천구,치킨전문점,64,2,6,96,160,1.500000,0.600000
47071,2023,관악구,패스트푸드점,145,14,19,106,251,0.731034,0.422311
47128,2023,종로구,패스트푸드점,144,4,11,97,241,0.673611,0.402490
47374,2023,동작구,치킨전문점,77,7,13,129,206,1.675325,0.626214
47401,2023,서초구,패스트푸드점,160,10,13,119,279,0.743750,0.426523

In [67]:
#merge
group_merge=pd.merge(df_19, df_23, on=['자치구코드명','서비스업종코드명'], how='inner')
group_merge

,기준년분기코드_x,자치구코드명,서비스업종코드명,개인점포수_x,개업점포수_x,폐업점포수_x,프랜차이즈점포수_x,전체점포수_x,개인점포-프랜차이즈_x,전체-프랜차이즈_x,기준년분기코드_y,개인점포수_y,개업점포수_y,폐업점포수_y,프랜차이즈점포수_y,전체점포수_y,개인점포-프랜차이즈_y,전체-프랜차이즈_y
0,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,119,7,12,89,208,0.747899,0.427885
1,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,123,13,8,89,212,0.723577,0.419811
2,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,117,7,16,85,202,0.726496,0.420792
3,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,119,7,12,89,208,0.747899,0.427885
4,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,123,13,8,89,212,0.723577,0.419811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,84,6,11,104,188,1.238095,0.553191
536,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,78,5,11,105,183,1.346154,0.573770
537,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,85,8,13,107,192,1.258824,0.557292
538,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,84,6,11,104,188,1.238095,0.553191
539,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,78,5,11,105,183,1.346154,0.573770

In [68]:
#개업율
group_merge['개업율']=(group_merge['개업점포수_y']-group_merge['개업점포수_x'])/group_merge['개업점포수_x']
group_merge

,기준년분기코드_x,자치구코드명,서비스업종코드명,개인점포수_x,개업점포수_x,폐업점포수_x,프랜차이즈점포수_x,전체점포수_x,개인점포-프랜차이즈_x,전체-프랜차이즈_x,기준년분기코드_y,개인점포수_y,개업점포수_y,폐업점포수_y,프랜차이즈점포수_y,전체점포수_y,개인점포-프랜차이즈_y,전체-프랜차이즈_y,개업율
0,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,119,7,12,89,208,0.747899,0.427885,0.400000
1,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,123,13,8,89,212,0.723577,0.419811,1.600000
2,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,117,7,16,85,202,0.726496,0.420792,0.400000
3,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,119,7,12,89,208,0.747899,0.427885,0.166667
4,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,123,13,8,89,212,0.723577,0.419811,1.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,84,6,11,104,188,1.238095,0.553191,-0.571429
536,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,78,5,11,105,183,1.346154,0.573770,-0.642857
537,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,85,8,13,107,192,1.258824,0.557292,-0.466667
538,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,84,6,11,104,188,1.238095,0.553191,-0.600000
539,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,78,5,11,105,183,1.346154,0.573770,-0.666667

In [69]:
#폐업율
group_merge['폐업율']=(group_merge['폐업점포수_y']-group_merge['폐업점포수_x'])/group_merge['폐업점포수_x']
group_merge

,기준년분기코드_x,자치구코드명,서비스업종코드명,개인점포수_x,개업점포수_x,폐업점포수_x,프랜차이즈점포수_x,전체점포수_x,개인점포-프랜차이즈_x,전체-프랜차이즈_x,기준년분기코드_y,개인점포수_y,개업점포수_y,폐업점포수_y,프랜차이즈점포수_y,전체점포수_y,개인점포-프랜차이즈_y,전체-프랜차이즈_y,개업율,폐업율
0,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,119,7,12,89,208,0.747899,0.427885,0.400000,0.333333
1,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,123,13,8,89,212,0.723577,0.419811,1.600000,-0.111111
2,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,2023,117,7,16,85,202,0.726496,0.420792,0.400000,0.777778
3,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,119,7,12,89,208,0.747899,0.427885,0.166667,2.000000
4,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,2023,123,13,8,89,212,0.723577,0.419811,1.166667,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,84,6,11,104,188,1.238095,0.553191,-0.571429,0.000000
536,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,2023,78,5,11,105,183,1.346154,0.573770,-0.642857,0.000000
537,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,85,8,13,107,192,1.258824,0.557292,-0.466667,0.181818
538,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,84,6,11,104,188,1.238095,0.553191,-0.600000,0.000000
539,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,2023,78,5,11,105,183,1.346154,0.573770,-0.666667,0.000000

In [70]:
#개인증감율
group_merge['개인점포_증감율']=((group_merge['개인점포수_y']/group_merge['전체점포수_y'])-(group_merge['개인점포수_x']/group_merge['전체점포수_x']))/(group_merge['개인점포수_x']/group_merge['전체점포수_x'])
group_merge

,기준년분기코드_x,자치구코드명,서비스업종코드명,개인점포수_x,개업점포수_x,폐업점포수_x,프랜차이즈점포수_x,전체점포수_x,개인점포-프랜차이즈_x,전체-프랜차이즈_x,...,개인점포수_y,개업점포수_y,폐업점포수_y,프랜차이즈점포수_y,전체점포수_y,개인점포-프랜차이즈_y,전체-프랜차이즈_y,개업율,폐업율,개인점포_증감율
0,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,119,7,12,89,208,0.747899,0.427885,0.400000,0.333333,0.082713
1,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,123,13,8,89,212,0.723577,0.419811,1.600000,-0.111111,0.097991
2,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,117,7,16,85,202,0.726496,0.420792,0.400000,0.777778,0.096135
3,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,...,119,7,12,89,208,0.747899,0.427885,0.166667,2.000000,0.083367
4,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,...,123,13,8,89,212,0.723577,0.419811,1.166667,1.000000,0.098655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,...,84,6,11,104,188,1.238095,0.553191,-0.571429,0.000000,-0.051672
536,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,...,78,5,11,105,183,1.346154,0.573770,-0.642857,0.000000,-0.095350
537,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,85,8,13,107,192,1.258824,0.557292,-0.466667,0.181818,-0.042304
538,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,84,6,11,104,188,1.238095,0.553191,-0.600000,0.000000,-0.033435
539,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,78,5,11,105,183,1.346154,0.573770,-0.666667,0.000000,-0.077952

In [71]:
#프랜차이즈
group_merge['프랜차이즈_증감율']=(group_merge['전체-프랜차이즈_y']-group_merge['전체-프랜차이즈_x'])/group_merge['개인점포-프랜차이즈_x']
group_merge

,기준년분기코드_x,자치구코드명,서비스업종코드명,개인점포수_x,개업점포수_x,폐업점포수_x,프랜차이즈점포수_x,전체점포수_x,개인점포-프랜차이즈_x,전체-프랜차이즈_x,...,개업점포수_y,폐업점포수_y,프랜차이즈점포수_y,전체점포수_y,개인점포-프랜차이즈_y,전체-프랜차이즈_y,개업율,폐업율,개인점포_증감율,프랜차이즈_증감율
0,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,7,12,89,208,0.747899,0.427885,0.400000,0.333333,0.082713,-0.048972
1,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,13,8,89,212,0.723577,0.419811,1.600000,-0.111111,0.097991,-0.058018
2,2019,은평구,패스트푸드점,93,5,9,83,176,0.892473,0.471591,...,7,16,85,202,0.726496,0.420792,0.400000,0.777778,0.096135,-0.056919
3,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,...,7,12,89,208,0.747899,0.427885,0.166667,2.000000,0.083367,-0.049267
4,2019,은평구,패스트푸드점,94,6,4,84,178,0.893617,0.471910,...,13,8,89,212,0.723577,0.419811,1.166667,1.000000,0.098655,-0.058301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,...,6,11,104,188,1.238095,0.553191,-0.571429,0.000000,-0.051672,0.021689
536,2019,도봉구,치킨전문점,98,14,11,110,208,1.122449,0.528846,...,5,11,105,183,1.346154,0.573770,-0.642857,0.000000,-0.095350,0.040024
537,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,8,13,107,192,1.258824,0.557292,-0.466667,0.181818,-0.042304,0.016811
538,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,6,11,104,188,1.238095,0.553191,-0.600000,0.000000,-0.033435,0.013286
539,2019,도봉구,치킨전문점,98,15,11,114,212,1.163265,0.537736,...,5,11,105,183,1.346154,0.573770,-0.666667,0.000000,-0.077952,0.030977

In [72]:
group_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준년분기코드_x     540 non-null    int32
 1   자치구코드명        540 non-null    object
 2   서비스업종코드명      540 non-null    object
 3   개인점포수_x       540 non-null    int64
 4   개업점포수_x       540 non-null    int64
 5   폐업점포수_x       540 non-null    int64
 6   프랜차이즈점포수_x    540 non-null    int64
 7   전체점포수_x       540 non-null    int64
 8   개인점포-프랜차이즈_x  540 non-null    float64
 9   전체-프랜차이즈_x    540 non-null    float64
 10  기준년분기코드_y     540 non-null    int32
 11  개인점포수_y       540 non-null    int64
 12  개업점포수_y       540 non-null    int64
 13  폐업점포수_y       540 non-null    int64
 14  프랜차이즈점포수_y    540 non-null    int64
 15  전체점포수_y       540 non-null    int64
 16  개인점포-프랜차이즈_y  540 non-null    float64
 17  전체-프랜차이즈_y    540 non-null    float64
 18  개업율           540 non-null    float64
 19  폐업율           540 non-null    float64
 20  개인점포_증감율      540 non-null    float64
 21  프랜차이즈_증감율     540 non-null    float64
dtypes: float64(8), int32(2), int64(10), object(2)
memory usage: 88.7+ KB

In [73]:
group_merge=group_merge[['자치구코드명','서비스업종코드명','개업율','폐업율','개인점포_증감율','프랜차이즈_증감율']]
group_merge

    자치구코드명 서비스업종코드명       개업율       폐업율  개인점포_증감율  프랜차이즈_증감율
0      은평구   패스트푸드점  0.400000  0.333333  0.082713  -0.048972
1      은평구   패스트푸드점  1.600000 -0.111111  0.097991  -0.058018
2      은평구   패스트푸드점  0.400000  0.777778  0.096135  -0.056919
3      은평구   패스트푸드점  0.166667  2.000000  0.083367  -0.049267
4      은평구   패스트푸드점  1.166667  1.000000  0.098655  -0.058301
..     ...      ...       ...       ...       ...        ...
535    도봉구    치킨전문점 -0.571429  0.000000 -0.051672   0.021689
536    도봉구    치킨전문점 -0.642857  0.000000 -0.095350   0.040024
537    도봉구    치킨전문점 -0.466667  0.181818 -0.042304   0.016811
538    도봉구    치킨전문점 -0.600000  0.000000 -0.033435   0.013286
539    도봉구    치킨전문점 -0.666667  0.000000 -0.077952   0.030977

[540 rows x 6 columns]

In [74]:
group_mergedf = group_merge.rename(columns={'자치구코드명': '자치구'})
group_mergedf

     자치구 서비스업종코드명       개업율       폐업율  개인점포_증감율  프랜차이즈_증감율
0    은평구   패스트푸드점  0.400000  0.333333  0.082713  -0.048972
1    은평구   패스트푸드점  1.600000 -0.111111  0.097991  -0.058018
2    은평구   패스트푸드점  0.400000  0.777778  0.096135  -0.056919
3    은평구   패스트푸드점  0.166667  2.000000  0.083367  -0.049267
4    은평구   패스트푸드점  1.166667  1.000000  0.098655  -0.058301
..   ...      ...       ...       ...       ...        ...
535  도봉구    치킨전문점 -0.571429  0.000000 -0.051672   0.021689
536  도봉구    치킨전문점 -0.642857  0.000000 -0.095350   0.040024
537  도봉구    치킨전문점 -0.466667  0.181818 -0.042304   0.016811
538  도봉구    치킨전문점 -0.600000  0.000000 -0.033435   0.013286
539  도봉구    치킨전문점 -0.666667  0.000000 -0.077952   0.030977

[540 rows x 6 columns]

In [75]:
group_mergedf['Index']=range(1,len(group_mergedf)+1)
group_mergedf

     자치구 서비스업종코드명       개업율       폐업율  개인점포_증감율  프랜차이즈_증감율  Index
0    은평구   패스트푸드점  0.400000  0.333333  0.082713  -0.048972      1
1    은평구   패스트푸드점  1.600000 -0.111111  0.097991  -0.058018      2
2    은평구   패스트푸드점  0.400000  0.777778  0.096135  -0.056919      3
3    은평구   패스트푸드점  0.166667  2.000000  0.083367  -0.049267      4
4    은평구   패스트푸드점  1.166667  1.000000  0.098655  -0.058301      5
..   ...      ...       ...       ...       ...        ...    ...
535  도봉구    치킨전문점 -0.571429  0.000000 -0.051672   0.021689    536
536  도봉구    치킨전문점 -0.642857  0.000000 -0.095350   0.040024    537
537  도봉구    치킨전문점 -0.466667  0.181818 -0.042304   0.016811    538
538  도봉구    치킨전문점 -0.600000  0.000000 -0.033435   0.013286    539
539  도봉구    치킨전문점 -0.666667  0.000000 -0.077952   0.030977    540

[540 rows x 7 columns]

In [76]:
unique_values = group_mergedf['자치구'].unique()
unique_values

array(['은평구', '중구', '영등포구', '관악구', '마포구', '성동구', '서대문구', '금천구', '서초구',
       '동작구', '강북구', '양천구', '노원구', '강남구', '구로구', '강서구', '광진구', '동대문구',
       '강동구', '용산구', '도봉구', '성북구', '송파구', '종로구', '중랑구'], dtype=object)

In [77]:
#merge
final_df=pd.merge(group_mergedf,rental_sales_df,on='Index',how='inner')
final_df

,자치구_x,서비스업종코드명,개업율,폐업율,개인점포_증감율,프랜차이즈_증감율,Index,Under40SalesRate,자치구_y,RentalRate
0,은평구,패스트푸드점,0.400000,0.333333,0.082713,-0.048972,1,0.971865,종로구,-0.059856
1,은평구,패스트푸드점,1.600000,-0.111111,0.097991,-0.058018,2,6.700351,종로구,0.126538
2,은평구,패스트푸드점,0.400000,0.777778,0.096135,-0.056919,3,2.144237,종로구,-0.083235
3,은평구,패스트푸드점,0.166667,2.000000,0.083367,-0.049267,4,-0.436084,종로구,0.481053
4,은평구,패스트푸드점,1.166667,1.000000,0.098655,-0.058301,5,7.508616,종로구,1.605556
...,...,...,...,...,...,...,...,...,...,...
295,강동구,치킨전문점,0.272727,0.166667,0.018586,-0.007724,296,1.223137,중구,-0.784854
296,중구,제과점,-0.363636,0.000000,0.097081,-0.059852,297,1.840750,중구,2.389474
297,중구,제과점,-0.222222,0.800000,0.073674,-0.048645,298,0.193952,중구,-0.028807
298,중구,제과점,-0.222222,-0.181818,0.049249,-0.035034,299,2.608638,중구,1.601660
299,중구,제과점,-0.300000,0.500000,0.043502,-0.031508,300,1.044684,중구,0.548117

In [78]:
final_df=final_df.drop(['서비스업종코드명'],axis=1)
final_df

,자치구_x,개업율,폐업율,개인점포_증감율,프랜차이즈_증감율,Index,Under40SalesRate,자치구_y,RentalRate
0,은평구,0.400000,0.333333,0.082713,-0.048972,1,0.971865,종로구,-0.059856
1,은평구,1.600000,-0.111111,0.097991,-0.058018,2,6.700351,종로구,0.126538
2,은평구,0.400000,0.777778,0.096135,-0.056919,3,2.144237,종로구,-0.083235
3,은평구,0.166667,2.000000,0.083367,-0.049267,4,-0.436084,종로구,0.481053
4,은평구,1.166667,1.000000,0.098655,-0.058301,5,7.508616,종로구,1.605556
...,...,...,...,...,...,...,...,...,...
295,강동구,0.272727,0.166667,0.018586,-0.007724,296,1.223137,중구,-0.784854
296,중구,-0.363636,0.000000,0.097081,-0.059852,297,1.840750,중구,2.389474
297,중구,-0.222222,0.800000,0.073674,-0.048645,298,0.193952,중구,-0.028807
298,중구,-0.222222,-0.181818,0.049249,-0.035034,299,2.608638,중구,1.601660
299,중구,-0.300000,0.500000,0.043502,-0.031508,300,1.044684,중구,0.548117

In [79]:
final_df['Gen'] = final_df['자치구_y'].apply(lambda x: 1 if x in ['종로구', '영등포구','강동구'] else 0)
final_df

,자치구_x,개업율,폐업율,개인점포_증감율,프랜차이즈_증감율,Index,Under40SalesRate,자치구_y,RentalRate,Gen
0,은평구,0.400000,0.333333,0.082713,-0.048972,1,0.971865,종로구,-0.059856,1
1,은평구,1.600000,-0.111111,0.097991,-0.058018,2,6.700351,종로구,0.126538,1
2,은평구,0.400000,0.777778,0.096135,-0.056919,3,2.144237,종로구,-0.083235,1
3,은평구,0.166667,2.000000,0.083367,-0.049267,4,-0.436084,종로구,0.481053,1
4,은평구,1.166667,1.000000,0.098655,-0.058301,5,7.508616,종로구,1.605556,1
...,...,...,...,...,...,...,...,...,...,...
295,강동구,0.272727,0.166667,0.018586,-0.007724,296,1.223137,중구,-0.784854,0
296,중구,-0.363636,0.000000,0.097081,-0.059852,297,1.840750,중구,2.389474,0
297,중구,-0.222222,0.800000,0.073674,-0.048645,298,0.193952,중구,-0.028807,0
298,중구,-0.222222,-0.181818,0.049249,-0.035034,299,2.608638,중구,1.601660,0
299,중구,-0.300000,0.500000,0.043502,-0.031508,300,1.044684,중구,0.548117,0

In [80]:
final_df=final_df.drop(['자치구_x'],axis=1)

In [81]:
final_df=final_df.rename(columns={'자치구_y':'자치구'})
final_df

,개업율,폐업율,개인점포_증감율,프랜차이즈_증감율,Index,Under40SalesRate,자치구,RentalRate,Gen
0,0.400000,0.333333,0.082713,-0.048972,1,0.971865,종로구,-0.059856,1
1,1.600000,-0.111111,0.097991,-0.058018,2,6.700351,종로구,0.126538,1
2,0.400000,0.777778,0.096135,-0.056919,3,2.144237,종로구,-0.083235,1
3,0.166667,2.000000,0.083367,-0.049267,4,-0.436084,종로구,0.481053,1
4,1.166667,1.000000,0.098655,-0.058301,5,7.508616,종로구,1.605556,1
...,...,...,...,...,...,...,...,...,...
295,0.272727,0.166667,0.018586,-0.007724,296,1.223137,중구,-0.784854,0
296,-0.363636,0.000000,0.097081,-0.059852,297,1.840750,중구,2.389474,0
297,-0.222222,0.800000,0.073674,-0.048645,298,0.193952,중구,-0.028807,0
298,-0.222222,-0.181818,0.049249,-0.035034,299,2.608638,중구,1.601660,0
299,-0.300000,0.500000,0.043502,-0.031508,300,1.044684,중구,0.548117,0

In [82]:
final_df.to_csv('C:/Users/kathy_orp/Desktop/DAS 자료/DASProject/ml_ver4.csv', index=False)